@page "/AddCourse"
@using SkoBlazorApp.Data;
@inject CourseService CourseService;
@inject NavigationManager NavigationManager;

<h3 align="center">Добавление курса</h3>
<hr />
<button class="btn btn-primary" @onclick="@Cancel">
    <span class="oi oi-action-undo" aria-hidden="true"> Назад</span>
</button>
<hr />
<form>
    <div class="form-group">
        <select form="Category" class="form-control w-auto" @bind="@_course.Category">
            <option value="">ВЫБЕРИТЕ КАТЕГОРИЮ...</option>
            @foreach (var item in _listCategory)
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input form="UserId" class="form-control w-auto" @bind="@_course.UserId" />
    </div>
    <div class="form-group">
        <input form="Title" placeholder="Название курса" class="form-control w-auto" @bind="@_course.Title" />
    </div>
    <div class="form-group">
        <textarea form="Description" placeholder="Описание курса" class="form-control" @bind="@_course.Description"></textarea>
    </div>
    <div class="form-group">
        <input form="Hyperlink" placeholder="Ссылка на ресурс" class="form-control" @bind="@_course.Hyperlink" />
    </div>
    <div class="form-group">
        <input type="file" form="FileName" class="form-control" @bind="@_course.FileName" />
    </div>
    <hr />
    <div class="form-group">
        <input type="button" class="btn btn-success" @onclick="@CreateCourse" value="Сохранить" />
    </div>
</form>
<br />

@code {


    readonly SkoContext _context = new SkoContext();

    Course _course = new Course();

    List<String> _listCategory = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        _listCategory = await Task.Run(() => CourseService.GetAllCategory());
    }

    protected async void CreateCourse()
    {
        _course.Date = DateTime.Now.ToShortDateString();
        _course.Year = DateTime.Now.Year;
        await CourseService.AddCourseAsync(_course);
        NavigationManager.NavigateTo("/");
    }


    void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
