@page "/OtherUsersCourses"
@using SkoBlazorApp.Data
@inject CourseService CourseService;
@inject NavigationManager NavigationManager;


<h3 align="center">Курсы других пользователей</h3>
<hr />
<div></div>
<div>
    <select class="form-control w-auto" id="selectUser">
        @foreach (var item in _allUsers)
        {
            <option value="@item">@item.Lastname</option>
        }
    </select>
</div>
<hr />

<div>
    Всего пользователей: <b>@_countUsers</b>
</div>
<div class="table-responsive">
    <table class="table table-striped table-dark">
        <thead class="thead-dark">
            <tr>
                <td class="font-weight-bold">
                    №
                </td>
                <td class="font-weight-bold">
                    Категория
                </td>
                <td class="font-weight-bold">
                    Название
                </td>
                <td class="font-weight-bold">
                    Дата создания
                </td>
                <td class="font-weight-bold">
                    Дата редактирования
                </td>
                <td class="font-weight-bold">
                    Баллы
                </td>
                <td class="font-weight-bold">
                    Оценивающий
                </td>
            </tr>
        </thead>
        <tbody>
            @if (_myCourses == null)
            {
                <tr>Загрузка...</tr>
            }
            else if (_myCourses.Count == 0)
            {
                <tr>Нет записей!</tr>
            }
            else
            {
                int number = 1;
                @foreach (Course course in _myCourses)
                {
                    <tr>
                        <td>
                            @number
                        </td>
                        <td>
                            @course.Category
                        </td>
                        <td>
                            @course.Title
                        </td>
                        <td>
                            @course.Date
                        </td>
                        <td>
                            @if (course.DateEdit != null)
                            {
                                @course.DateEdit
                            }
                            else
                            {
                                @ValueIsNull
                            }
                        </td>
                        <td>
                            @if (course.Evaluation != null)
                            {
                                @course.Evaluation
                            }
                            else
                            {
                                @ValueIsNull
                            }
                        </td>
                        <td>
                            @if (course.Evaluating != null)
                            {
                                @course.Evaluating
                            }
                            else
                            {
                                @ValueIsNull
                            }
                        </td>
                        <td>
                            <button class="btn btn-outline-info" @onclick="@(() => ViewCourse(course.Id))">
                                <span class="oi oi-browser" aria-hidden="true"> Просмотреть</span>
                            </button>
                        </td>
                    </tr>
                    number++;
                }
            }
        </tbody>
    </table>
</div>

@code
{
    public string ValueIsNull { get; set; } = "-";
    List<Course> _myCourses = new List<Course>();
    List<User> _allUsers = new List<User>();
    public User SelectedUser { get; set; }


    private readonly SkoContext _skoContext = new SkoContext();

    int _countUsers;
    protected override async Task OnInitializedAsync()
    {
        await GetCoursesOnUser(1);
        _allUsers = _skoContext.Users.OrderBy(u => u.Lastname).ToList();
        _countUsers = _allUsers.Count;
    }

    public async Task GetCoursesOnUser(int id)
    {
        _myCourses = await Task.Run(() => CourseService.GetCoursesByUserId(id));
    }

    void ViewCourse(int id)
    {
        NavigationManager.NavigateTo($"/ViewCourseOtherUser/{id}");
    }
}
