@page "/OtherUsers"


<h3 align="center">Курсы других пользователей</h3>
<hr/>
<div></div>
<div>
    <select class="form-control w-auto" id="selectUser">
        @foreach (var item in _allUsers)
        {
            <option value="@item">@item.Lastname</option>
        }
    </select>
</div>
<hr/>

<div>
    Всего пользователей: @_countUsers
</div>
<div class="table-responsive">
    <table class="table table-striped table-dark">
        <thead class="thead-dark">
            <tr>
                <td class="text-info">
                    ID
                </td>
                <td class="text-info">
                    Категория
                </td>
                <td class="text-info">
                    Название
                </td>
                <td class="text-info">
                    Баллы
                </td>
                <td class="text-info">
                    Оценивающий
                </td>
                <td class="text-info">
                    Дата создания
                </td>
                <td class="text-info">
                    Дата редактирования
                </td>
            </tr>
        </thead>
        <tbody>
            @if (_myCourses == null)
            {
                <tr>Загрузка...</tr>
            }
            else if (_myCourses.Count == 0)
            {
                <tr>Нет записей!</tr>
            }
            else
            {
                @foreach (Course course in _myCourses)
                {
                    <tr>
                        <td>
                            @course.Id
                        </td>
                        <td>
                            @course.Category
                        </td>
                        <td>
                            @course.Title
                        </td>
                        <td>
                            @if (course.Evaluation != null)
                            {
                                @course.Evaluation
                            }
                            else
                            {
                                @ValueIsNull
                            }
                        </td>
                        <td>
                            @if (course.Evaluating != null)
                            {
                                @course.Evaluating
                            }
                            else
                            {
                                @ValueIsNull
                            }
                        </td>
                        <td>
                            @course.Date
                        </td>
                        <td>
                            @if (course.DateEdit != null)
                            {
                                @course.DateEdit
                            }
                            else
                            {
                                @ValueIsNull
                            }
                        </td>
                        <td>
                            <button class="btn btn-primary">Просмотреть</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary">Редактировать</button>
                        </td>
                        <td>
                            <button class="btn btn-danger">Удалить</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@code
{
    public string ValueIsNull { get; set; } = "-";

    List<Course> _myCourses = new List<Course>();
    List<User> _allUsers = new List<User>();

    private readonly SkoContext _context = new SkoContext();

    int _countUsers;
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);
        _allUsers = _context.Users.ToList();
        //_myCourses = _context.Courses.Where(c => c.UserId == 16).ToList();
        _countUsers = _allUsers.Count;
    }

    public void GetCoursesFromUser()
    {

    }
}
